SUPABASE_URL=your-supabase-project-url
SUPABASE_KEY=your-supabase-anon-key
BOT_TOKEN=8353264846:AAHlGhCK7z7iNG8cwOCt6Sff6gDEcr3VSvM
GROUP_ID=-1003926587727

# Barcha xabarlar boradigan Asosiy Topic (Yangi buyurtmalar va h.k.)
TOPIC_ASOSIY=

# (Ixtiyoriy) Agar maxsus bosqichlarda boshqa topic larga xabar yuborish kerak bo'lsa:
TOPIC_ZAMER=
TOPIC_DIZAYN=
TOPIC_ISHLAB_CHIQARISH=
TOPIC_DONE=
